<h1>Bug Tracker</h1>
<hr>
<bug-stats [data]="bugs"></bug-stats>
<section class="sort">
	<label for="">Order By :</label>
	<select [(ngModel)]="bugSortBy">
		<option value="name">Name</option>
		<option value="isClosed">Status</option>
		<option value="createdAt">Created</option>
	</select>
	<label for="">Descending ? :</label>
	<input type="checkbox" [(ngModel)]="bugSortDescending">
</section>
<bug-edit (newbug)="onNewBugAdded($event)" ></bug-edit>
<section class="list">
	<ol>
		<li *ngFor="let bug of ( bugs | sort:bugSortBy:bugSortDescending )">
			<span class="bugname" (click)="onBugClick(bug)" [ngClass]="{closed : bug.isClosed}">
				{{bug.name | trimText}}
			</span>
			<div class="datetime">{{bug.createdAt | elapsed }}</div>
		</li>
		
	</ol>
	<input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>