<h1>Bug Tracker</h1>
<hr>
<section class="stats">
	<span class="closed">{{getClosedCount()}}</span>
	<span> / </span>
	<span>{{bugs.length}}</span>
</section>
<section class="sort">
	<label for="">Order By :</label>
	<select [(ngModel)]="bugSortBy">
		<option value="name">Name</option>
		<option value="isClosed">Status</option>
		<option value="createdAt">Created</option>
	</select>
	<label for="">Descending ? :</label>
	<input type="checkbox" [(ngModel)]="bugSortDescending">
</section>
<section class="edit">
	<label for="">Bug Name :</label>
	<input type="text" #txtBugName>
	<input type="button" value="Create" (click)="onCreateClick(txtBugName.value)">
</section>
<section class="list">
	<ol>
		<li *ngFor="let bug of ( bugs | sort:bugSortBy:bugSortDescending )">
			<span class="bugname" (click)="onBugClick(bug)" [ngClass]="{closed : bug.isClosed}">
				{{bug.name | trimText}}
			</span>
			<div class="datetime">{{bug.createdAt | elapsed }}</div>
		</li>
		
	</ol>
	<input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>